@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
h1,h2,h3,h4,h5,h6,li{
    font-family: "Roboto", sans-serif;
}

body, p{
    font-family: "Open Sans", sans-serif;
      font-weight: 400;
}
.text-decoration-none {
  font-family: 'Open Sans', sans-serif;
}
.navv{
    width: 180px;
}
li{
    list-style: none;
}

.bar{
    position: relative;
}
.nb{
    position: absolute;
    top: 0px;
    background-color: rgba(22, 67, 156, 0.196);
}
.i{
    object-fit: cover;
    position: absolute;
    bottom: 220px;
    left: 220px;
    color: white;
}
.btn2{
background-color: rgba(255, 255, 255, 0);
border: 1px solid white;
border-radius: 0px;
color: white;
text-decoration: none;
}
.btn2:hover{
    background-color: white;
    color: black;

}
.btn1{
  background-color: white;
border: 1px solid white;
border-radius: 0px;
color: black;
text-decoration: none;
}
.btn1:hover{
    background-color: black;
    color:white;
    border: 1px solid black;

}
.hi{
    height: 500px;
 filter: brightness(40%);
   
}


.pos{
position: absolute;
bottom: 60px;
margin-left: 50px;
color: white;
}
.bgcol{
    background-color: #E7F6FF;
}
.line{
    border-bottom: 4px solid blue;
    width: 90px;
    margin: 0 auto;
}
.im2{
    width: 260px;
}
/* .para3{
    position: absolute;
    bottom: 120px;
    margin-left: 80px;
    color: white;

    
} */

.im4{
    height: 500px;
    object-fit: cover;
    position: sticky;
}

.a{
     position: fixed;
  width: 500px;

}
.parallax1 {
    position: relative;
  height: 850px;
  background-image: linear-gradient(rgba(42, 140, 193, 0.322), rgba(12, 77, 156, 0.327)), url("https://websitedemos.net/brandstore-02/wp-content/uploads/sites/150/2019/12/home-new-bg-free-img.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;       
 
}

.parallax {
  height: 70vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0.648)), url("https://websitedemos.net/brandstore-02/wp-content/uploads/sites/150/2019/12/banner-03.jpg");
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-repeat: no-repeat;
    background-size: cover;   
}

.content1 {
  padding: 30px;
}

.btn.btc{
    background: #2775AE;
    color: white;
}
.btn.btc:hover{
    background: black;
    color: white;
}
/* about page  */
.parallax2{
  height: 70vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.574), rgba(0, 0, 0, 0.648)), url("https://websitedemos.net/brandstore-02/wp-content/uploads/sites/150/2021/05/banner-04.jpg");
  background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.i2{
    
    position: absolute;
    top: 35%;
    left: 45%;
    color: white;
}
.clr{
    background: #F5F7F9;
}
.clr1{
    background: white;
}
.line1{
    border-bottom: 4px solid blue;
    width: 100px; 
}
.ww{
    margin: 0 100px;

}
.parallax3{
 height: 60vh;
background-image:linear-gradient(rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0.648)), url("https://websitedemos.net/brandstore-02/wp-content/uploads/sites/150/2019/12/banner-05.jpg");
 background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.i3{
    position: absolute;
    left: 40%;
    background: white;
    height: 60vh;
    text-align: center;
    
}
.m1{
    margin-top: 90px;
}

.imz{
    width: 15%;
}

/* contact page */

.parallax4{
 height: 60vh;
background-image: linear-gradient(rgba(13, 59, 102, 0.166), rgba(11, 83, 151, 0.6)), 
url("https://websitedemos.net/brandstore-02/wp-content/uploads/sites/150/2019/12/banner-06.jpg");
 background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hh{
    height: 100px;
}

/* detail page */
.f{
    font-size:x-large;
}
.hit{
    height: 100px;
}
